.dash-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-logo{
display: flex;
align-items: center;
font-size: 2rem;
margin-left: 40px;
}
.dash-logo span{
color: rgb(252, 19, 97);
}
.dash-logo img{
    height: 50px;
}    

/* dashboard Tasks Toggler */
.dash-tasks-togg{
    display: flex;
    /* background-color: rgb(212, 212, 212); */
    width: 300px;
    height: 35px;
    border-radius: 35px;
}

.dash-tog-btn{
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
}

.active-toggle{
    background-color: rgb(0, 162, 255);
    color: white;
}

/* User Account */
.user-account-name{
    display: flex;
    margin-right: 40px;
    align-items: center;
    /* background-color: rgb(219, 219, 219); */
    border-radius: 40px;
}

.user-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(84, 192, 255);
}

.user-name{
    margin:0 10px;
    font-weight: 500;
}
