.dashboard-container {
  width: 60%;
  /* height: calc(100% - 14vh); */
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  flex: 1;
  /* margin-left: 40px; */
  gap: 10px;
  /* color: white; */
  background-color: rgb(240, 240, 240,0.4);
}
.dash-heading {
  width: 100%;
}
.dash-heading p {
  font-size: 15px;
}

.status-container {
  display: flex;
  width: 100%;
  gap: 20px;
}
.task-status {
  height: 100px;
  border-radius: 10px;
  width: 33%;
  flex: 1;
  padding: 10px;
  background-position:center;
  background-size: cover;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.total-tasks {
  background-image: url("../../../assets/images/total.png");
}
.pending-tasks {
  background-image: url("../../../assets/images/pending.png");
}
.completed-tasks {
  background-image: url("../../../assets/images/completed.png");
}

.chart-heading {
  width: 100%;
  margin: 0;
  padding: 0;
}

#chartdiv {
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}


@media screen and (max-width:500px){
  .dashboard-container {
    padding: 20px;
  }

}
